<nav class="nav">
  <ul class="nav-bar group">
    <li class="logo">
      <a href="#">pixie</a>
    </li>

    <div class="upload">
      <a href="#/explore">Explore</a>
      <a class="upload-album-photos-link"
         href="#/photos/new">
        Upload
      </a>

    </div>
    <form action="<%= session_url %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="delete">
      <button class="sign-out">sign out</button>
    </form>
  </ul>
</nav>

<div id="main"></div>

<nav class="footer">
  <ul class="footer-group">
    <p> pixie: a Flickr clone by Chloe Isacke. for demonstration purposes only. </p>
  </ul>
</nav>
