<nav class="new-session-nav">
  <ul class="new-session-nav-bar group">
    <li class="new-session-logo">
      pixie
    </li>
    <li class="new-session-sign-in">
      sign in
    </li>
  </ul>
</nav>

<h1 class="new-session-header">

</h1>

<form class="new-session-form" action="index.html" method="post">

</form>
