<nav class="new-session-nav">
  <ul class="new-session-nav-bar group">
    <li class="new-session-logo">
      pixie
    </li>
    <li class="new-session-sign-in">
      sign in
    </li>
  </ul>
</nav>

<div class="new-session-background-img">
  <h1 class="new-session-header">
    pixie. photo uploading and sharing.
  </h1>

  <form class="new-session-form" action="index.html" method="post">
    <h5>sign in</h5>
    <!-- <label for="user_email">email</label> -->
    <input type="text" name="user[email]" value=" email">
    <br>
    <input type="password" name="user[password]" value="">
    <br>
    <button>sign in</button>
  </form>

</div>
<nav class="new-session-footer">

</nav>
