<%= render partial: "layouts/navbar", :locals => {text: "sign up", link: new_user_url} %>

<div class="new-session-background-img">
  <h1 class="new-session-header">
    pixie. photo uploading and sharing.
  </h1>

  <form class="new-session-form" action="<%= session_url %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <h5>sign in</h5>
    <input type="text" name="user[email]" placeholder="email">
    <br>
    <input type="password" name="user[password]" placeholder="password">
    <br>
    <button>sign in</button>
    <button><a href="/auth/facebook">sign in with Facebook</a></button>
  </form>

</div>

<%= render partial: "layouts/footer" %>
