<img src="<%= user.escape("cover") %>" alt="cover photo" class="user-cover-pic"/>

  <li class="user-info group">
    <div class="user-profile-pic">
      <img src="<%= user.escape("avatar") %>" alt="user avatar" />
      <% if (edit) { %>
        <label class="custom-file-upload">
          edit
          <input type="file" name="user[avatar]" id="input-user-avatar"
                 class="change-avatar-button">
        </label>
      <%  } %>
    </div>
    <h3><%= user.escape("f_name") %> <%= user.escape("l_name") %></h3>
  </li>

  <li class="user-stats">
    # photos | joined 2015
  </li>
  <% if (edit === true) { %>
    <div class="change-cover-photo group">
      <label class="custom-file-upload">
        Edit
        <input type="file" name="user[cover]" id="input-photo-image"
               class="change-cover-photo-button">
      </label>

    </div>
  <%  } %>
