<li class="user-info">
  <img src="" alt="" class="user-profile-pic" />
  <h3><%= user.escape("f_name") %> <%= user.escape("l_name") %></h3>
</li>

<li class="user-stats">
  # photos | joined 2015
</li>
