<div class="comment-form-photo">
  <img src="<%= Capstone.Models.currentUser.escape("avatar") %>" alt="" />
</div>
<form class="comment-form">

  <textarea name="comment[body]" rows="8" cols="40" placeholder="Add a comment">

  </textarea>

  <button>submit</button>
</form>
