<div class="comment-form-photo">



</div>
<form class="comment-form">
  <div class="triangle">
  </div>
  <textarea name="comment[body]" rows="8" cols="40" placeholder="Add a comment">

  </textarea>

  <button>submit</button>
</form>
