<!-- inside the <li> item -->

<div class="comment-author-photo">

</div>

<nav class="comment-info">
  <p>
    <%= comment.escape("f_name") %> <%= comment.escape("l_name") %>
  </p>

  <p>
    <%= comment.escape("body") %>
  </p>
  <% if (Capstone.Models.currentUser.id == comment.escape("author_id")) { %>
    <button class="delete-comment"> delete </button>
  <% } %>

</nav>
