<h1>new photos form!</h1>

<h1>Add to photostream</h1>
  <form>

    <label class="custom-file-upload">
      Select Images
      <input type="file" name="photo[image]" id="input-photo-image" multiple="">
    </label>

    <button class="new-photo-save">Save</button>

  </form>

  <div class="preview-photos-wrapper">

  </div>
<div class="album-side-bar">

</div>
