<nav class="add-photos-form-wrapper">
  <form class="add-photos-form group">

    <label class="custom-file-uploads">
      Add
      <input type="file" name="photo[image]" id="input-photo-image" multiple="">
    </label>

    <button class="new-photos-save">Save</button>

  </form>
</nav>

<main class="upload-wrapper group">
  <nav class="album-side-bar">

  </nav>


  <div class="preview-photos-wrapper group">

  </div>
</main>
