<h1>new photos form!</h1>

<h1>Add to photostream</h1>
  <form>
    <ul>
      <li>
        <label>
          Title
          <input type="text" name="photo[title]" id="input-photo-title" class="input-field">
        </label>
      </li>
      <li>
        <label>
          Description
          <input type="text"
                 name="photo[description]"
                 id="input-photo-description"
                 class="input-field">
        </label>
      </li>
      <li>
        <label class="custom-file-upload">
          Select Images
          <input type="file" name="photo[image]" id="input-photo-image" multiple="">
        </label>
      </li>

      <button class="new-photo-save">Save</button>
    </ul>
  </form>

  <div class="preview-photos">

  </div>
