<a class="photostream-image"
   href="#/photos/<%= photo.id %>"></a>
<nav class="photo-info group">
  <img class="photostream-image-profile-pic" />
  <ul class="photo-user-info">
    <li>
    <%= photostream.user().escape("f_name") %> <%= photostream.user().escape("l_name") %>
    </li>
    <li>
      <%= photo.escape("title") %>
    </li>
  </ul>
  <ul class="photo-stats group">
    <li>
    * 193
    </li>
    <li>
    # 23
    </li>
  </ul>
</nav>
