

<div class="photo-add-form">
  <div class="exit-photo-form">
    x
  </div>
<h1>Add to photostream</h1>
    <form>
      <ul>
        <li>
          <label>
            Title
            <input type="text" name="photo[title]" id="input-photo-title" class="input-field">
          </label>
        </li>
        <li>
          <label>
            Description
            <input type="text" name="photo[description]" id="input-photo-description" class="input-field">
          </label>
        </li>
        <li>
          <label class="custom-file-upload">
            Select Image
            <input type="file" name="photo[image]" id="input-photo-image">
          </label>
        </li>

        <img class="photostream-thumbnail"/>

        <button class="new-photo-save">Save</button>
        <div class="" id="progress">

        </div>
      </ul>
    </form>

</div>
