<img class="photo-show-image"
      src="<%=photo.escape("image_url")%>"/>

<nav class="photo-show-nav group">
  <ul>
    <li>back to photostream</li>
    <li class="favorite-button"></li>
  </ul>
</nav>
