<nav class="user-show">

</nav>

<nav class="user-photo-nav-bar">
  <ul class="user-photo-nav group">
    <a href="#">
      photostream
    </a>
    <a href="#/users/<%= user.id %>/albums">
      albums
    </a>
    <a href="#/users/<%= user.id %>/favorites">
      favorites
    </a>
  </ul>
</nav>

<nav class="photostream-wrapper">
  <ul class="photostream-list">

  </ul>
</nav>
