<nav class="user-show">

</nav>

<nav class="user-photo-nav-bar">
  <ul class="user-photo-nav group">
    <li>
      photostream
    </li>
    <li>
      albums
    </li>
    <li>
      favorites
    </li>
  </ul>
</nav>

<nav class="photostream-wrapper">
  <ul class="photostream-list">

  </ul>
</nav>
