// Place all the styles related to the Albums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.album-index-wrapper {
  width: 100%;
  background: #d6d6d6;
}

.album-index-list {
  background: #d6d6d6;
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.album-index-item {
  float: left;
}

.album-index-item-photo {
  position: relative;
  height: 250px;
  width: 250px;
  margin: 20px 40px 10px 0;
}

.album-index-item-thumbnail {
  position: absolute;
  height: 250px;
  width: 250px;
  top: 0;
  left: 0;
}

.album-index-item-info {
  position: absolute;
  left: 20px;
  bottom: 20px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.album-index-item-info div:first-of-type {
  font-size: 20px;
}

.new-album {
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.new-album a {
  float: right;
  height: 25px;
  width: 150px;
  line-height: 25px;
}

.album-side-bar {
  border: 2px solid gray;
  margin: 20px;
  width: 250px;
  min-height: 400px;
  color: white;
  float: left;
}

.album-sidebar-list {
  padding: 10px;
}

.album-sidebar-list li {
  margin: 10px 0;
}

.album-sidebar-list li:hover {
  background: gray;
}

.album-sidebar-photo {
  height: 30px;
  width: 30px;
  background: purple;
  float: left;
}

.album-sidebar-title {
  float: left;
  margin-left: 10px;
  line-height: 30px;
}

.album-photo-preview {
  width: 100px;
  height: 100px;
}

.ui-draggable-helper {
  z-index: 1000;
}

.album-cover-photo-preview {
  height: 100px;
  width: 100px;
  background: transparent;
  border: 2px solid white;
  position: relative;
}

.album-selected-photos {
  height: 500px;
  width: 500px;
  border: 2px solid white;
}
