// Place all the styles related to the AlbumPhotos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#progress {
  display: block;
  // width: 240px;
  padding: 2px 5px;
  margin: 20px;
  border: 1px inset #446;
  border-radius: 5px;
  height: 20px;
}

// #progress-multiple {
//   height: 20px;
//   padding: 2px 5px;
//   margin: 20px;
//   border: 1px inset white;
//   border-radius: 5px;
// }
//
// #progress p.success {
// 	background: #0c0 none 0 0 no-repeat;
// }
//
// #progress p.failed {
// 	background: #c00 none 0 0 no-repeat;
// }

// #progress.ui-progressbar-value {
//   height: 20px;
// }
