// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-comment-form {
  float: right;
  // background: blue;
  width: 50%;

}

.new-comment-form-index {
  margin: 10px;
  // background: yellow;
}

.comment-form-photo {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  background: gray;
  margin: 15px 5px 10px 10px;
  // display: inline;
  float: left;
  overflow: hidden;
}

.comment-form-photo img {
  height: 100%;
  width: 100%;
}

.comment-form {
  margin: 10px;
  position: relative;
  height: 175px;
  width: 450px;
}

.comment-form textarea {
  margin-top: 15px;
  float: left;
  width: 350px;
  height: 100px;
  border-radius: 5px;
  position: relative;
  // border: 2px solid gray;
}

.comment-form button {
  position: absolute;
  right: 30px;
  bottom: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  border: 1px solid gray;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: #03AACC;
  color: white;
}

.photo-comments-wrapper {
  width: 50%;
  float: left;
  // max-width: 450px;
}

.photo-comments-index-item {
  // background: red;
  margin: 20px 0;
  min-width: 300px;
  // float: left;
}

.comment-author-photo {
  height: 30px;
  width: 30px;
  border-radius: 15px;
  float: left;
  margin: 10px 10px 10px 20px;
  overflow: hidden;
}

.comment-author-photo img {
  width: 100%;
  height: 100%;
}

.comment-info {
  float: left;
  width: 80%;
  position: relative;
}

.comment-info p {
  margin: 5px;
}

.delete-comment {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  right: 0;
  background: white;
}

.delete-comment div {
  background: url(image_path("trash.png"));
  background-color: white;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
}

.photo-comments-index-item:hover div {
  display: block;
}
