// Place all the styles related to the Photostreams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-photo-nav-bar {
  height: 50px;
  width: 100%;
  background: #d6d6d6;
}

.user-photo-nav {
  height: 50px;
  background: white;
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.user-photo-nav a {
  font-size: 16px;
  color: white;
  float: left;
  background: #03AACC;
  margin: 10px;
  padding: 5px;
  height: 20px;
  border-radius: 5px;
  line-height: 20px;
}

.sign-out {
  height: 30px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  background: #03AACC;
  float: right;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.photostream-show {
  background: #d6d6d6
}

.photostream-wrapper {
  width: 100%;
  background: #d6d6d6;
  min-height: 600px;
  // background: yellow;
}

.photostream-list {
  background: #fffafa;
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.photostream-list > li {
  width: 700px;
  height: auto;
  padding-top: 50px;
  margin: 0 auto;
}

.photostream-image {
  height: auto;
  width: 600px;
  padding: 0 50px;
  display: block;
}

.photo-info {
  height: 50px;
  margin: 0 50px;
  background: white;
}

.photostream-image-profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin: 5px;
  float: left;
  background-image: url(image_path("mini-profile.jpg"));
}

.photo-user-info {
  float: left;
  height: 50px;
  padding: 5px 0 0 0;
}

.photo-stats {
  float: right;
  height: 50px;
  line-height: 50px;
  padding: 0 10px 0 0;
}

.photo-stats > li {
  float: left;
}
