// Place all the styles related to the Photostreams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-photo-nav {
  height: 50px;
  background: black;
}

.user-photo-nav li {
  font-size: 20px;
  color: white;
  float: left;
  background: #03AACC;
  margin: 5px;
  padding: 5px;
}
