// Place all the styles related to the Photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.photo-show-wrapper {
  width: 100%;
  background: #242121;
  display: inline-block;
}

.photo-show-image {
  // background-image: url(image_path("dummy-photo.jpg"));
  margin: auto;
  display: block;
  max-width: 700px;
  max-height: 500px;
  border-top: 50px solid #242121;
  // top: -50px;
}

.photo-show-nav {
  width: 100%;
  color: white;
  background: #242121;
  height: 50px;
}

.photo-show-nav ul {
  width: 80%;
  min-width: 900px;
  background: #242121;
  margin: auto;
  height: 50px;
}

.photo-show-nav li {
  padding: 10px;
  height: 30px;
}

.photo-show-nav li:first-of-type {
  float:left;
}

.photo-show-nav li {
  float:right;
}

.photo-add-wrapper {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 100%;
  background-color: rgba(160, 160, 160, 0.9);
  // opacity: 0.9;
}
.photo-add-form {
  border-radius: 5px;
  width: 400px;
  min-height: 350px;
  position: relative;
  top: 100px;
  left: 30%;
  background: white;
  font-size: 16px;
  color: black;
  border: 2px solid black

  // opacity: 1;
}

.photo-add-form label {
  margin: 10px;
  height: 50px;
}

.photo-add-form li {
  height: 50px
}

.photo-add-form h1 {
  margin: 15px 0;
  font-size: 20px;
  text-align: center;
}

.photo-add-form input {
  font-size: 16px;
  // height: 25px;
}

form .input-field {
  border: 1px solid black;
  font-size: 16px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid black;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
}

.new-photo-save {
  border: 1px solid black;
  margin: 10px 0 10px 168px;
  padding: 5px 10px;
  border-radius: 5px;
}

.exit-photo-form {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background: black;
  position: absolute;
  color: white;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border-radius: 15px;
  right: -12px;
  top: -12px;
}

.photo-show-info {
  width: 50%;
  float: left;
}

.photo-show-title, .add-a-description {
  max-width: 300px;
}


.photo-show-info-wrapper {
  width: 100%;
  background: white;
}

.photo-show-eighty {
  width: 80%;
  min-width: 900px;
  margin: auto;
  background: white;
  min-height: 200px;
}

.photo-show-eighty-wrapper {
  width: 80%;
  min-width: 900px;
  margin: auto;
  background: #242121;
}

.photo-show-profile-pic, .photo-show-info ul {
  float: left;
}

.photo-show-profile-pic {
  margin: 20px;
  height: 60px;
  width: 60px;
  border-radius: 30px;
  overflow: hidden;
  // background-image: url(image_path("mini-profile.jpg"));
}

.photo-show-profile-pic img {
  width: 100%;
  height: 100%;
}

.photo-show-info li {
  padding: 5px 0 0 0;
  font-size: 20px;
  font-weight: bold;
}

.photo-show-info li:first-of-type {
  margin: 30px 0 10px 0;
  font-size: 24px;
}

.photo-show-info li:last-of-type {
  font-size: 16px;
  font-weight: normal;
  border-bottom: 1px solid black;
  padding: 5px 0 10px 0;
}

div h3.follow-button {
  font-size: 16px;
  color: white;
  font-weight: normal;
  background: #03AACC;
  border-radius: 5px;
  border: 1px solid black;
  padding: 5px;
  margin-top:15px;
  cursor: pointer;
  // line-height:
}

.preview-photo-thumbnail {
  max-width: 150px;
  max-height: 120px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.photostream-thumbnail {
  max-width: 300px;
  max-height: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#input-photo-title {
  padding: 0 5px;
}

#input-photo-description {
  padding: 0 5px;
}

.new-photos-form {
  width: 100%;
  background: black;
  height: 100%;
}

.upload-wrapper {
  width: 80%;
  min-width: 900px;
  background: black;
  margin: auto;
  // height: 800px;
  // height: 100%;
}

.add-photos-form-wrapper {
  width: 100%;
  background: #d6d6d6;
  // height: 50px;
}

.add-photos-form {
  width: 80%;
  height: 50px;
  background-color: #d6d6d6;
  min-width: 900px;
  margin: auto;
}

.add-photos-form label {
  float: left;
}

.custom-file-uploads {
  background: #03AACC;
  color: white;
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 20px;
}

.new-photos-save {
  border: 1px solid black;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 10px 20px;
  float: right;
}

.preview-photos-wrapper {
  float: left;
  padding: 10px;
  margin-top: 20px;
  width: 70%;
}

.preview-photo {
  float: left;
  height: 250px;
  width: 200px;
  position: relative;
}

.input-photo-description {
  position: absolute;
  bottom: 55px;
  left: 0;
  left: 25px;
  width: 150px;
  border-radius: 5px;
  background: black;
  font-size: 14px;
  color: white;

}

.input-photo-title {
  color: white;
  font-size: 16px;
  height: 20px;
  width: 150px;
  position: absolute;
  bottom: 100px;
  left: 25px;
  background: black;
  padding: 2px;
}

::-webkit-input-placeholder {
  color: white;
}

.mini-thumbnail {
  height: 30px;
  width: 30px;
  background: yellow;
  position: absolute;
  bottom: 15px;
  left: 25px;
}

li.favorite-button {
  width: 30px;
  height: 30px;
  // margin-right: 60px;
  // background: red
}

li.delete-photo-button {
  width: 30px;
  height: 30px;
  margin-right: 100px;
  // background: red;
}

div.delete-photo-button-pic {
  background: url(image_path("trash-white.png"));
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.favorited {
  background: url(image_path("favorited.png"));
  background-color: transparent;
  background-size: 100% auto;
  width: 100%;
  height: 100%;
  cursor: pointer;
  // display: none;
}

.add-to-favorites {
  background: url(image_path("favorite.png"));
  background-color: #242121;
  background-size: 100% auto;
  width: 100%;
  height: 94%;
  cursor: pointer;
  display: block;
}
