// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  background: black;
  height: 50px;
}

.nav-bar {
  background: black;
  height: 50px;
  width: 80%;
  min-width: 900px;
  margin: auto;
}

.nav-bar li {
  padding: 5px 20px;
}

.logo {
  height: 40px;
  font-size: 30px;
  color: #fff;
  float: left;
}

.sign-in {
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  background: #03AACC;
  float: right;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.new-session-background-img {
  background: gray;
  opacity: 0.5;
  min-height: 700px;
  height: 90%;
  color: white
}

.new-session-header {
  text-align: center;
  width: 500px;
  font-size: 40px;
  height: 140px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.new-session-form {
  background: #03AACC;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.new-session-form > h5 {
  font-size: 30px;
  margin: 10px 0 0 0;
}

.new-session-form > input {
  margin: 10px 0 5px;
}

.new-session-form > button, input {
  height: 30px;
  width: 200px;
  font-size: 20px;
  border: 0;
  padding: 0;
  border-radius: 5px;
}

.new-session-form > button {
  margin: 20px 0;
  line-height: 30px;
}

.footer {
  height: 50px;
  background: black;
}
