// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav {
  background: black;
  height: 50px;
}

.nav-bar {
  background: black;
  height: 50px;
  width: 80%;
  min-width: 900px;
  margin: auto;
  position: relative;
}

.nav-bar li {
  padding: 5px 20px;
}

.logo {
  height: 40px;
  width: 120px;
  // font-size: 30px;
  // color: #fff;
  float: left;
}

.logo div {
  background-image: url(image_path("logo.png"));
  background-size: 100% 100%;
  height: 100%;
  // width: 100%;
}

.sign-in {
  height: 20px;
  line-height: 20px;
  font-size: 18px;
  color: #fff;
  background: #03AACC;
  float: right;
  margin: 10px;
  border-radius: 5px;
  padding: 5px 10px;
}

.new-session-wrapper {
  width: 100%;
  background: black;
}

.new-session-background-img {
  // background: gray;
  background-image: url(image_path("sign-in"));
  background-size: 100% 100%;
  height: 840px;
  color: white;
  width: 100%;
  // max-width: 1400px;
  min-width: 900px;
  margin: auto;
}

.new-session-header {
  text-align: center;
  width: 500px;
  font-size: 40px;
  height: 140px;
  margin: 0 auto;
  padding: 100px 0 0 0;
}

.new-session-form {
  background: #03AACC;
  margin: 0 auto;
  width: 300px;
  height: 250px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.new-session-form > h5 {
  font-size: 30px;
  margin: 10px 0 0 0;
}

.new-session-form > input {
  margin: 10px 0 5px;
}

.new-session-form > button, input {
  height: 30px;
  width: 200px;
  font-size: 20px;
  border: 0;
  padding: 0;
  border-radius: 5px;
}

.new-session-form > button {
  margin-top: 15px;
  line-height: 30px;
}

.footer {
  height: 50px;
  background: black;
}
