// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-session-nav {
  background: black;
  height: 50px;
}

.new-session-nav-bar {
  background: black;
  height: 50px;
}

.new-session-logo {
  font: white;
  background: blue;
  float: left;
}

.new-session-sign-in {
  font: white;
  background: blue;
  float: right;
}
