// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-user-form {
  background: #03AACC;
  margin: 0 auto;
  width: 300px;
  height: 325px;
  text-align: center;
  border: 2px solid black;
  border-radius: 5px;
}

.new-user-form > h5 {
  font-size: 30px;
  margin: 10px 0 0 0;
}

.new-user-form > input {
  margin: 10px 0 5px;
}

.new-user-form > button, input {
  height: 30px;
  width: 200px;
  font-size: 20px;
  border: 0;
  padding: 0;
  border-radius: 5px;
}

.new-user-form > button {
  margin: 20px 0;
  line-height: 30px;
}

.user-show {
  height: 250px;
  width: 100%;
}

.user-show-bar {
  position: relative;
  width: 80%;
  min-width: 900px;
  height: 250px;
  margin: auto;
  background: transparent;
  overflow: hidden;
}

.user-cover-pic {
  width: 100%;
}

.user-info {
  position: absolute;
  height: 100px;
  width: 400px;
  bottom: 15px;
  left: 15px;
}

.user-info .user-profile-pic {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  float: left;
  overflow: hidden;
  // background-image: url(image_path("default-profile.jpg"));
}

.user-profile-pic img {
  width: 100%;
  height: 100%;
}

.user-profile-pic {
  position: relative;
}

.user-info > h3 {
  margin: 10px;
  float: left;
  font-size: 32px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.upload {
  position: absolute;
  right: 120px;
  top: 15px;
}

li.upload-photos-link {
  cursor: pointer;
  height: 25px;
  color: black;
  float: right;
  width: 150px;
  padding: 20px;
}

.upload-album-photos-link {
  height: 25px;
  color: white;
}

.user-stats {
  position: absolute;
  bottom: 5px;
  right: 20px;
  width: 300px;
  height: 25px;
  line-height: 25px;
  text-align: right;
  font-size: 16px;
  color: white;
  text-shadow: 1px 1px 3px black;
}

.change-cover-photo {
  position: absolute;
  top: 0;
  right: 0;
  width: 360px;
  height: 120px;
  background: transparent;
  padding: 20px;
}

.change-cover-photo label {
  border: 2px solid black;
  width: 60px;
  font-size: 22px;
  float: right;
  padding: 5px;
  text-align: center;
  color: white;
  background: black;
  letter-spacing: 2px;
  display: none;
}

.change-cover-photo:hover label.custom-file-upload {
  display: block;
}

.user-profile-pic label {
  background: black;
  color: white;
  padding: 0 2px;
  margin: 0;
  position: absolute;
  top: 5px;
  left: 30px;
  display: none;
}

.user-profile-pic:hover label {
  display: inline;
}
