<div class="user-show">

</div>
<nav class="user-photo-nav-bar">
  <ul class="user-photo-nav group">
    <a href="#/users/<%= user.id %>">
      photostream
    </a>
    <a href="#/users/<%=user.id%>/albums">
      albums
    </a>
    <a href="#/users/<%= user.id %>/favorites">
      favorites
    </a>
  </ul>
</nav>

<div class="album-index-wrapper">
  <nav class="new-album group">
    <a href="#/albums/new">
      Create new album
    </a>
  </nav>
  <ul class="album-index-list group">

  </ul>
</div>
