<div class="user-show">

</div>
<nav class="user-photo-nav-bar">
  <ul class="user-photo-nav group">
    <li>
      photostream
    </li>
    <li>
      albums
    </li>
    <li>
      favorites
    </li>
  </ul>
</nav>

<div class="album-index-wrapper">
  <ul class="album-index-list group">

  </ul>
</div>
