<li class="album-index-item-photo">
<a href="#/albums/<%= album.id %>"><img src="<%= album.escape("image_url")%>"
     alt="album-cover-photo"
     class="album-index-item-thumbnail" /></a>

  <nav class="album-index-item-info">
    <div>
      <%=album.escape("title")%>
    </div>
    <div>
      # photos
    </div>
    <ul class="group">
      <% if (album.user_id === Capstone.Models.currentUser.id) { %>
        <li class="edit-album"><a href="#/albums/<%= album.id %>/edit">edit</a></li>
        <li>
          <div class="delete-album">

          </div>
        </li>
      <%  } %>
    </ul>
  </nav>
</li>
