<div class="new-album-eighty">
  <main class="new-album-form-and-photos group">

    <nav class="new-album-form-preview">
      <div class="album-cover-photo-preview">

      </div>

      <form class="new-album-form">
        <input type="text" name="album[title]" placeholder="title">
        <br>
        <textarea name="album[description]" rows="8" cols="40">

        </textarea>

        <br>
        <button>Save</button>

      </form>
    </nav>

    <div class="album-selected-photos group">

    </div>
  </main>

  <main class="photos-index-wrapper">
    <div class="click-left">
      <
    </div>

    <div class="photos-index">

    </div>

    <div class="click-right">
      >
    </div>
  </main>
</div>
