<h1>new album!</h1>
<%= user.escape("f_name") %>
<form>
  <input type="text" name="album[title]" placeholder="new album">
  <br>
  <textarea name="album[description]" rows="8" cols="40">

  </textarea>

  <br>
  <button>Save</button>


</form>

<div class="photos-index">

</div>

<div class="album-cover-photo-preview">

</div>

<div class="album-selected-photos group">

</div>
