<main class="album-show-eighty">
  <h3>
    < Back to albums list
  </h3>

  <div class="album-show-cover-photo">
    <img src="<%= album.escape("image_url") %>" alt="" />
    <div>

    </div>
    <h3><%= album.escape("title") %></h3>
  </div>

  <ul class="group">
    <% if(album.get("photos")) { %>
      <% album.get("photos").forEach(function(photo) { %>
        <li><img src="<%= photo.image_url %>" alt="album-photo" /></li>
      <% }) %>
    <%  } %>
  </ul>

</main>
